PORT=5000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=heavenslive_db
DB_USER=heavenslive
DB_PASSWORD=db_Password
JWT_SECRET=JWT_SECRET_VALUE
TESTING_MODE=true
MOCK_CURRENCY_ENABLED=true

# PayPal LIVE (Real Money)
PAYPAL_CLIENT_ID=Value
PAYPAL_CLIENT_SECRET=Value
PAYPAL_MODE=live

NODE_ENV=production
FRONTEND_URL=https://heavenslive.com
PAYPAL_RETURN_URL=https://heavenslive.com/credon/payment-success
PAYPAL_CANCEL_URL=https://heavenslive.com/credon/payment-cancel

EMAIL_HOST=smtp.ionos.com
EMAIL_PORT=587
EMAIL_SECURE=false       # false for port 587 (STARTTLS), true for port 465
EMAIL_USER=no_reply@heavenslive.com
EMAIL_PASS=Value
EMAIL_FROM=no_reply@heavenslive.com
FRONTEND_URL=https://heavenslive.com/credon

# ShipEngine API Configuration
SHIPENGINE_API_KEY=Value
SHIPENGINE_CARRIER_IDS=se-5352697,se-5352698,se-5352699
SHIPENGINE_FROM_ADDRESS=Toronto,ON,Canada

# Translation Service Configuration
# Options: 'google' (free), 'google-cloud' (paid), 'libretranslate' (self-hosted), 'none'
TRANSLATION_PROVIDER=libretranslate
LIBRETRANSLATE_URL=http://localhost:5001
GOOGLE_CLOUD_API_KEY=
