[Desktop Entry]
Name=HeavensLive
Comment=Divinely Underwritten Commerce
Exec=heavenslive-desktop
Icon=heavenslive
Type=Application
Categories=Office;Finance;Network;
StartupWMClass=HeavensLive
